.u-section-1 .u-sheet-1 {
  min-height: 576px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 475px;
  background-image: url("images/tv2.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 286px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 60px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  width: 187px;
  height: 56px;
  margin: 15px auto 0 17px;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -56px 22px 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-image-3 {
  width: 111px;
  height: 83px;
  margin: 14px auto 0 55px;
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -76px 22px 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 50px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 270px;
}

.u-section-1 .u-container-layout-3 {
  padding: 15px 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 2px auto 0 133px;
}

.u-section-1 .u-image-4 {
  width: 142px;
  height: 95px;
  margin: -8px auto 0 45px;
}

.u-section-1 .u-image-5 {
  width: 96px;
  height: 96px;
  margin: -7px auto 0 68px;
}

.u-section-1 .u-btn-4 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -156px 17px 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-btn-5 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 36px 5px 0 auto;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-1 .u-image-1 {
    min-height: 392px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 236px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 255px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-1 .u-image-1 {
    min-height: 601px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-1 .u-image-1 {
    min-height: 451px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-1 .u-image-1 {
    min-height: 284px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 82px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 593px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 527px;
  background-image: url("images/fridge-1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 268px;
}

.u-section-2 .u-container-layout-2 {
  padding: 8px 48px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto 0 147px;
}

.u-section-2 .u-image-2 {
  width: 187px;
  height: 56px;
  margin: 9px auto 0 69px;
}

.u-section-2 .u-btn-1 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -56px 0 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-image-3 {
  width: 111px;
  height: 83px;
  margin: 9px 12px 0 84px;
}

.u-section-2 .u-btn-2 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -59px 0 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-btn-3 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 5px 134px 0 auto;
  padding: 8px 27px 8px 26px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 279px;
}

.u-section-2 .u-container-layout-3 {
  padding: 12px 23px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 2px auto 0 139px;
}

.u-section-2 .u-image-4 {
  width: 142px;
  height: 95px;
  margin: 0 37px 0 139px;
}

.u-section-2 .u-btn-4 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -67px 8px 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-image-5 {
  width: 96px;
  height: 96px;
  margin: 28px 37px 0 139px;
}

.u-section-2 .u-btn-5 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -96px 0 0 auto;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-2 .u-image-1 {
    min-height: 435px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 221px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 116px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 34px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 268px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-2 .u-image-1 {
    min-height: 666px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-2 .u-image-1 {
    min-height: 500px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 275px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-2 .u-image-1 {
    min-height: 315px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 71px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 86px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 86px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 612px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 48px auto 12px -24px;
}

.u-section-3 .u-image-1 {
  min-height: 527px;
  background-image: url("images/teleivison.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 285px;
}

.u-section-3 .u-container-layout-2 {
  padding: 12px 31px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 1px auto 0;
}

.u-section-3 .u-image-2 {
  width: 187px;
  height: 56px;
  margin: 0 29px;
}

.u-section-3 .u-image-3 {
  width: 111px;
  height: 83px;
  margin: 0 29px;
}

.u-section-3 .u-btn-1 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -145px 0 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-3 .u-btn-2 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 65px 0 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-3 .u-btn-3 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 12px 159px 0 auto;
  padding: 8px 27px 8px 26px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 277px;
}

.u-section-3 .u-container-layout-3 {
  padding: 11px 46px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 12px auto 0;
}

.u-section-3 .u-image-4 {
  width: 142px;
  height: 95px;
  margin: 10px 14px 0 115px;
}

.u-section-3 .u-btn-4 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -67px 0 0 auto;
  padding: 6px 29px 6px 27px;
}

.u-section-3 .u-image-5 {
  width: 96px;
  height: 96px;
  margin: 28px 14px 0 115px;
}

.u-section-3 .u-btn-5 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -103px 0 0 auto;
  padding: 6px 29px 6px 27px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 435px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 235px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 59px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 267px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 20px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 666px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 374px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 500px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 361px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 315px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 71px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 760px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 42px;
  margin-bottom: 18px;
}

.u-section-4 .u-image-1 {
  min-height: 527px;
  background-image: url("images/wachinemachine.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 345px;
}

.u-section-4 .u-container-layout-2 {
  padding: 22px 46px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto 0 125px;
}

.u-section-4 .u-image-2 {
  width: 187px;
  height: 56px;
  margin: 58px 14px 0;
}

.u-section-4 .u-image-3 {
  width: 111px;
  height: 83px;
  margin: 0 14px;
}

.u-section-4 .u-btn-1 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -135px 0 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-4 .u-btn-2 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px 0 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-4 .u-btn-3 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 38px 141px 0 auto;
  padding: 8px 27px 8px 26px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 365px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 31px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 1px auto 0 177px;
}

.u-section-4 .u-btn-4 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 71px 21px 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-4 .u-image-4 {
  width: 142px;
  height: 95px;
  margin: -60px 29px 0;
}

.u-section-4 .u-btn-5 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 16px 15px 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-4 .u-image-5 {
  width: 96px;
  height: 96px;
  margin: -55px 29px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-4 .u-image-1 {
    min-height: 435px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 284px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 99px;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 41px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 301px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 142px;
  }

  .u-section-4 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-4 .u-image-1 {
    min-height: 666px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-4 .u-image-1 {
    min-height: 500px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-4 .u-image-1 {
    min-height: 315px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 87px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 723px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.u-section-5 .u-image-1 {
  min-height: 527px;
  background-image: url("images/microwave.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 312px;
}

.u-section-5 .u-container-layout-2 {
  padding: 9px 31px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-5 .u-btn-1 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 19px 29px 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-image-2 {
  width: 187px;
  height: 56px;
  margin: -39px 29px 0;
}

.u-section-5 .u-btn-2 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px 20px 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-image-3 {
  width: 111px;
  height: 83px;
  margin: -61px 29px 0;
}

.u-section-5 .u-btn-3 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 10px 164px 0 auto;
  padding: 8px 27px 8px 26px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 362px;
}

.u-section-5 .u-container-layout-3 {
  padding: 21px 31px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  font-weight: 700;
  margin: 0 auto 0 171px;
}

.u-section-5 .u-image-4 {
  width: 142px;
  height: 95px;
  margin: 58px 29px 0;
}

.u-section-5 .u-btn-4 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -70px 0 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-image-5 {
  width: 96px;
  height: 96px;
  margin: 4px auto 0 44px;
}

.u-section-5 .u-btn-5 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -79px 0 0 auto;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-5 .u-image-1 {
    min-height: 435px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 64px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 305px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 137px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-5 .u-image-1 {
    min-height: 666px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 306px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-5 .u-image-1 {
    min-height: 500px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 293px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-5 .u-image-1 {
    min-height: 315px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 84px;
  }
}